

<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">

        <li class="active">
            <a href="#/"><i class="icon-desktop"></i> <span class="name">Dashboard</span></a>
        </li>


        <li class="accordion-group">
            <a class="accordion-toggle collapsed " data-toggle="collapse" data-parent="#side-nav" href="#properties-collapse"><i class="icon-bar-chart"></i> <span class="name">Properties</span></a>
            <ul id="properties-collapse" class="accordion-body collapse">
                <li><a href="#/admin/properties/add">Add Properties</a></li>
                <li><a href="#/admin/properties/view">View Properties</a></li>
            </ul>
        </li>
         <li class="accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#projects-collapse"><i class="icon-bar-chart"></i> <span class="name">Projects</span></a>
            <ul id="projects-collapse" class="accordion-body collapse">
                <li><a href="#/admin/projects/add">Add Projects</a></li>
                <li><a href="#/admin/projects/view">View Projects</a></li>
            </ul>
        </li>


         <li class="">
            <a href="#/leads"><i class="icon-desktop"></i> <span class="name">Leads</span></a>
        </li>
        <li class="">
            <a href="#/contacts"><i class="icon-desktop"></i> <span class="name">Contacts</span></a>
        </li>
        <li class="accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#locations-collapse"><i class="icon-bar-chart"></i> <span class="name">Locations</span></a>
            <ul id="locations-collapse" class="accordion-body collapse">
                <li><a href="#/admin/locations/add">Add Locations</a></li>
                <li><a href="#/admin/locations/view">View Locations</a></li>
            </ul>
        </li>

        <li class="">
            <a href="#/"><i class="icon-desktop"></i> <span class="name">Amenities</span></a>
        </li>


        <li class="accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#stats-collapse"><i class="icon-bar-chart"></i> <span class="name">Reports</span></a>
            <ul id="stats-collapse" class="accordion-body collapse">
                <li><a href="stat_statistics.html">Leads Report</a></li>
                <li><a href="stat_charts.html">Monthly Report</a></li>
                <li><a href="stat_realtime.html">Sale Report</a></li>
            </ul>
        </li>
    </ul>

</nav>
